<div id="Enquiry">
    <h2 class="text-white">Journey Enquiries</h2>
    <p>
        Divine Explorer is a spiritual travel expert. We organize learning retreats and camps at locations conducive for spiritual
        activities. Whether you are a spiritual seeker, a master or a community of spiritual seekers we take care of all your
        travel needs and organizations. We also organize camps and retreats regularly with enlightened spiritual masters.
    </p>
    <form action="https://docs.google.com/forms/d/e/1FAIpQLSdcjQG_qiILl9xWbPsOViep0eJ6LQ7XEscTnq15r1D9UXFyvw/formResponse">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="name">Name</label>
                    <input id="name" type="text" name="entry.729090591" class="form-control" placeholder="Enter name">

                    <label for="email_address" class="margin-top-small">Email Address</label>
                    <input id="email_address" type="text" name="emailAddress" class="form-control" placeholder="Enter email">
                </div>
                <div class="col-md-6">
                    <label for="message">Message</label>
                    <textarea id="message" name="entry.932408158" class="form-control" placeholder="Enter message"></textarea>

                    <input type="hidden" name="_to" value="{{ site.data.company.contact_email_address }}">
                    <input type="text" name="_gotcha" style="display: none;">
                </div>
            </div>
            <input type="submit" value="Send Message" class="col-md-3">
        </div>
    </form>
</div>

