<!DOCTYPE html>

<html>
{% include head.html %}
<body>
    {% include alt-nav.html %}
    <div class="">
        <div class="row padding-Top-Large">
            <div class="container padding-Medium"><a href="{{site.baseurl}}"><img src="{{ site.baseurl }}/logo.png" alt="Divine Explorer logo" class="center-block img-responsive" /></a></div>
        </div>
        <section id ="main">

            {{ content }}

        </section>
        <section id="company-address">
        <div class="margin-top-medium bg-primary text-white">
            <div class="row padding-Large">
                <div class="col-md-8">{% include enquiry.html %}</div>
                <div class="col-md-4 ">
                    <label>Address</label>
                    <address>{{ site.data.company.address | replace: ',', '<br>' }}</address>
                    <h4 class="text-white normal-text-white"><a href="mailto:{{ site.data.company.contact_email_address }}">{{ site.data.company.contact_email_address }}</a></h4>
                </div>                
            </div>
        </div>
        </section>
        <footer>
                {% include footer.html %}
        </footer>
    </div>
</body>
{% include scripts.html %}
</html>